<mat-card class="card" [class.collapsed]="isCollapsed">
  <div
    *ngIf="!isCollapsed"
    class="d-flex align-items-start justify-content-between pt-2 px-3 gap-2 list-header"
  >
    <button
      mat-button
      *ngIf="!showInputTitle"
      (click)="toggleRenameInput()"
      class="w-100 p-2 justify-content-start"
    >
      <span class="fs-6" [class.text_collapsed]="isCollapsed">
        {{ listData.title }}
      </span>
    </button>
    <input
      *ngIf="showInputTitle"
      class="form-control"
      placeholder="Introduzca la tarea"
      [(ngModel)]="cardTitle"
      (keyup.enter)="toggleRenameInput()"
      autofocus
    />
    <button
      *ngIf="!showInputTitle"
      class="btn rounded-5"
      (click)="removeList()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      *ngIf="showInputTitle"
      class="btn rounded-5"
      (click)="toggleRenameInput()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button class="btn rounded-5" (click)="toggleCollapse()">
      <mat-icon>compare_arrows</mat-icon>
    </button>
  </div>

  <div
    *ngIf="isCollapsed"
    class="d-flex align-items-center justify-content-between pt-2 px-3 list-header collapsed"
  >
    <h3 class="fs-6" [class.text_collapsed]="isCollapsed">
      {{ listData.title }}
    </h3>
    <button class="btn rounded-5" (click)="toggleCollapse()">
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <span>{{ listData.tasks.length }}</span>
  </div>

  <div
    *ngIf="!isCollapsed"
    [cdkDropListData]="this"
    cdkDropList
    (cdkDropListDropped)="moveTask($event)"
    class="px-3 pb-1 pt-2"
  >
    <span *ngIf="!listData.tasks.length" class="empty-message p-2"
      >Arrastra aqui las tareas</span
    >
    <app-task
      *ngFor="let task of listData.tasks"
      cdkDrag
      [cdkDragData]="task"
      class="d-flex p-1"
      (taskToRemove)="removeTask($event)"
      [task]="task"
    ></app-task>
  </div>

  <div
    *ngIf="!isCollapsed"
    class="px-2 pb-1"
    clickOutside
    (clickOutside)="onClickOutside()"
  >
    <button
      *ngIf="!showInput"
      mat-button
      class="w-100 rounded-4"
      (click)="openInput($event)"
    >
      <mat-icon>add</mat-icon>
      <span class="add_card_text">Añade una tarjeta</span>
    </button>

    <div
      *ngIf="showInput"
      class="d-flex align-items-start flex-column gap-2 px-2 pb-2"
    >
      <textarea
        class="form-control"
        placeholder="Introduzca la tarea"
        [(ngModel)]="cardTitle"
        (input)="adjustHeight($event)"
        rows="2"
        (keyup.enter)="addTask()"
        autofocus
      ></textarea>

      <div class="d-flex align-items-center gap-2">
        <button mat-raised-button color="primary" (click)="addTask()">
          Añadir
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button (click)="toggleShowInput(true)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
