<div class="wrapper p-2">
  <a [routerLink]="['/']" class="px-3 py-2 ms-2 gap-2 return-button">
    <mat-icon>west</mat-icon>
    Volver a tus tableros</a
  >
  <div class="d-flex flex-row p-2" cdkDropListGroup>
    <app-list
      *ngFor="let list of lists"
      class="pe-4"
      [listData]="list"
      (removeListId)="removeList($event)"
    ></app-list>

    <div clickOutside (clickOutside)="onClickOutside()">
      <button
        *ngIf="!showInput"
        class="add-button p-2 gap-2"
        (click)="openInput($event)"
      >
        <mat-icon>add</mat-icon>
        <span>Añade otra lista</span>
      </button>

      <div *ngIf="showInput" class="input p-2 gap-2">
        <input
          type="text"
          class="form-control w-100"
          [(ngModel)]="listTitle"
          placeholder="Introduce el nombre de la lista"
          (keyup.enter)="addList()"
          autofocus
        />
        <div class="d-flex align-items-center">
          <button mat-raised-button color="primary" (click)="addList()">
            Añadir Lista
          </button>
          <button mat-button (click)="toggleInput()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
