<div class="pt-3 px-3">
  <h2>Crear tablero</h2>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="newBoardForm">
      <label for="title">Titulo del espacio</label>
      <input
        id="title"
        matInput
        type="text"
        class="form-control"
        formControlName="title"
      />
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onCreate()">
      Crear tablero
    </button>
  </mat-dialog-actions>
</div>
