<div class="d-flex justify-content-around w-100 p-3">
  <div class="w-75 gap-2">
    <div
      class="d-flex flex-row w-100 justify-content-between align-items-center"
    >
      <h3 class="p-2 fs-3">Tus espacios de trabajo</h3>

      <button mat-stroked-button (click)="logout()" *ngIf="isLogged">
        Log out
      </button>
    </div>
    <div
      *ngIf="!isLogged"
      class="d-flex flex-column align-items-center w-100 gap-2 p-2"
    >
      Inicia sesión para empezar a organizar tus proyectos
      <button mat-stroked-button (click)="openLoginModal()">
        Iniciar sesion
      </button>
    </div>
    <div *ngIf="isLogged">
      <div class="d-flex flex-row ps-3 pb-2">
        <button class="d-flex" mat-stroked-button (click)="openBoardModal()">
          <mat-icon>add</mat-icon>
          Crear nuevo tablero
        </button>
      </div>
      <div class="grid-container">
        <app-board-card
          *ngFor="let board of boardList"
          [boardInfo]="board"
        ></app-board-card>
      </div>
    </div>
  </div>
</div>
