<div class="d-flex justify-content-around w-100 m-3">
  <div class="w-75">
    <h3 class="p-2">Tus espacios de trabajo</h3>
    <div class="grid-container">
      <app-board-card
        *ngFor="let board of boardList"
        [boardInfo]="board"
      ></app-board-card>

      <button class="add-board" mat-button [matMenuTriggerFor]="newBoardMenu">
        Crear nuevo tablero
      </button>
      <mat-menu #newBoardMenu="matMenu" class="custom-menu">
        <div class="menu-container" (click)="$event.stopPropagation()">
          <form [formGroup]="newBoardForm" class="p-1">
            <div class="d-flex flex-column gap-2 p-1">
              <label for="title">Nombre del tablero</label>
              <input
                id="title"
                matInput
                autofocus
                formControlName="title"
                class="form-control"
                type="text"
                placeholder="Introduce el nombre del tablero"
                required
              />
            </div>
          </form>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
